/classes/
/test-classes/
.metadata/
.classpath
.project
.tmp
.recommenders
**/.settings/
AppointmentCancellation/
BooksBad/
AppointmentCancellationBad/
SampleServices/
SampleServicesConnectorExporter/
SampleServicesCompositeApplication/
SampleServicesRegistry/
**/target/
